*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    background-image: url("./images/backgroundMario.jpg");
    background-size: cover;
    height: 100vh;
    min-width: 950px;
}
.avatar{
    width: 20%;
    margin: auto;
    display: flex;
    padding-bottom: 2%;
  }
.formulario{
    padding: 3%;
    
}
form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    background-color: rgba(254, 247, 247, 0.511);
}
h1{
    text-align: center;

}
form label{
	width:100%;
    text-align: center;
	font-weight:bold;
    font-size: 1.5em;
	display:inline-block;
    color: rgba(24, 45, 91, 0.687);
}
form input[type="number"],
form select{
	width:100%;
    text-align: center;
    align-items: center;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	margin:8px 0;
	display:inline-block;
}


form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:16px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}
.addVenta{
	padding: 10%;

}
